<h2>Editar Categoria</h2>
<p>
	<%= link_to 'Visualizar', @categorium, class: 'btn btn-xs btn-default' %> 
	<%= link_to 'Listar Categorias', categoria_path, class: 'btn btn-xs btn-default' %>
</p>

<%= render 'form' %>

