<h2>Editar Clínica</h2>
<p>
	<%= link_to 'Visualizar', @user, class: 'btn btn-xs btn-default' %> 
	<%= link_to 'Listar Clínicas', users_path, class: 'btn btn-xs btn-default' %>
</p>
<%= render 'form' %>