<h2>Categoria</h2>
<p>
	<%= link_to 'Editar', edit_categoria_path(@categoria), class: 'btn btn-xs btn-default' %> 
	<%= link_to 'Listar Categorias', categorias_path, class: 'btn btn-xs btn-default' %>
</p>
<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @categoria.nome %>
</p>


