<h2>Editar Tipo de exame</h2>
<p>
	<%= link_to 'Visualizar', @categoria, class: 'btn btn-xs btn-default' %> 
	<%= link_to 'Listar tipos de exames', categorias_path, class: 'btn btn-xs btn-default' %>
</p>

<%= render 'form' %>

