<h1>Editar Exame</h1>
<p>
	<%= link_to 'Visualizar', @exame, class: 'btn btn-xs btn-default' %> 
	<%= link_to 'Listar Exames', exames_path, class: 'btn btn-xs btn-default' %>
</p>

<%= render 'form' %>
