<div class="row">
  <div class="col-lg-2">
    <h2>Exames</h2>
    <p>
      <% if session[:empresa_id] %>
      <% else %>
        <%= link_to 'Enviar Exame', new_consulta_path, class: 'btn btn-sm btn-default' %>
      <% end %>
      
    </p>
  </div>
  <div class="col-lg-10">

    <%= render 'form_busca' %>
  </div>
</div>

<br/>
<div class="row">
<h4> Selecione o exame </h4>

</div>
</div>
<br />
