<h2>Editar Funcionário</h2>
<p>
	<%= link_to 'Visualizar', @funcionario, class: 'btn btn-xs btn-default' %>
	<%= link_to 'Listar Funcionário', funcionarios_path, class: 'btn btn-xs btn-default' %>
</p>
<%= render 'form' %>

